body {
  font-family: 'Fira Sans', sans-serif !important;
}

a {
  color: #8e85e5;
  text-decoration: none
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

/*
  Runkit overrides
*/

.CodeMirror-lines {
  background: #282a36 !important;
}