body {
  font-family: 'Fira Sans', sans-serif !important;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}